# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Environment variables
.env
.env.*

# Databases / migrations cache
*.db
*.sqlite3
migrations/

# IDE/editor files
.vscode/
.idea/
*.swp
.DS_Store

# Logs
*.log
